@model Vaquinha.Domain.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Vaquinha OnLine DIO";
}

<div class="text-center">
    <h1 class="display-4">Vaquinha online DIO</h1>
    
    <p>
        <input asp-for="ValorRestanteMeta" />
        <input asp-for="ValorTotalArrecadado" />
        <input asp-for="PorcentagemTotalArrecadado" />
    </p>
</div>
